*:not(fancybox-wrap){
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 90px;
  
}
.navbar li:first-child a {
    border-left: 1px solid;
}
.navbar a{

    Border-Width: 1px;
    Border-Color: rgba(112,112,112,1);
}
.navbar li{
    position: relative;
    height: auto;
    width: 140px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.navbar a{
     padding: 18px 0;
    border-right: 1px solid;
    text-decoration: none;
    display: block;
}
.navbar a{
    transition: 0.8s ease;
}


  .nav-link:hover {
    justify-content: space-between;
    color: red;
  }
  ul
  li {
    text-align: center;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
}

  
  .container-boxes {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    margin-top: 180px;
  
  }
  
  
  .nav-link {
    font-size: 18px;
    font-family: 'Roboto Condensed',Arial, Helvetica, sans-serif;
    padding: 18px;
      color: rgba(1,0,102,1) 
  }
  .img:hover{
    filter: brightness(0.80); 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease;
    z-index: 3;
  }
  .bg-image{
    width: 100%;
 }
 #img{
    width:auto ;
    max-height: 128px;
 }

